<ion-content class="login-page">
  <!-- Imagen encima del formulario -->
  <div class="image-container">
    <img src="https://www.encancha.cl/resizer/v2/KH4VZFJJI5BZLHNJ4EPII6MHQY.png?auth=1e555964c9ca851c5ed6ac77e530910dc51c9fb51de0e383335062ba32a7db69&focal=599%2C433&width=950&height=633&quality=70" alt="Logo">
  </div>
<br>
<form (ngSubmit)="login()" class="login-form">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position ="floating">Contraseña </ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" expand="full">Login</ion-button>
</form>
<br>
<ion-button (click)="register()" expand="full">Registrar</ion-button>