<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario Registro Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button expand="full" routerLink="/agregar-producto">Agregar Productos</ion-button>
  <br>
  <ion-button expand="full">Reportes</ion-button>
  <br>
  <ion-button expand="full" routerLink="/list-productos">Ver Productos</ion-button>
  <br>
  <ion-button expand="full" >Comparacion de Productos</ion-button>
  <br>
  <ion-button expand="full" (click)="logout()" color="danger">Cerrar Sesión</ion-button>
</ion-content>
